.search {
  flex: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.visually-hidden {
  
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}